.filters {
  display: flex;
  justify-content: center;
  flex-basis: calc(100% / 5 - 10px);
  margin-top: $vertical-distance;
  margin-left: -8px;

  li {
    margin-left: 8px;
  }
  li:first-child {
    margin-left: 0;
  }
  li + li {
    margin-left: 8px;
  }
}

.checkbox-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox-portfolio:checked + .works-filter {
  background-color: $pointer;
  color: $white-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--common-font-size);
  line-height: 1.62;
  text-align: center;

  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  cursor: pointer;
  background-color: var(--odd-section-background-color);

  transition: background-color var(--standard-reaction-time)
      var(--standard-cubic-bezier),
    color var(--standard-reaction-time) var(--standard-cubic-bezier),
    box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);

  &:hover,
  &:focus {
    background-color: var(--pointer);
    color: var(--white-color);
    border-radius: 4px;
    border: 0 solid #ffffff;
    padding: 6px 22px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &.checked {
    background-color: var(--pointer);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
